* { 
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    gap: 5px;
}

a {
    color:rgb(255, 208, 0);
    text-decoration: none;
}
p {
    font-size: x-large;
}

.container {
    background-color: rgb(77, 77, 77);
    padding: 10px;
    width: 50%;
    place-items: center;
    border-radius: 3px;
    display: grid;
}
.card {
    background-color: rgb(117, 117, 117);
    padding: 30px;
    width: 80%;
    border-radius: 3px;
}
.socials {
    background-color: rgb(39, 39, 39);
    padding: 10px;
    width: 50%;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    place-items: center;
}